<div class="post panel panel-default">
  <div class="post-meta panel-heading">
    <bs-profile-picture user="author" class="post-author-photo" size="60"></bs-profile-picture>
    <div class="post-info">
      <div class="post-options auth-only">
        <div class="dropdown">
          <a class="dropdown-toggle">
            <i class="fa fa-chevron-down"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a ng-show="currentUser._id === author._id" fa-icon="trash-o" ng-click="removePost()"> Delete</a>
            </li>
            <li>
              <a ng-show="currentUser._id !== author._id" >There aren't any options here for you... Yet...</a>
            </li>
          </ul>
        </div>
      </div>
      <div bindonce="author">
        <div>
          <a bo-href="'/' + author.username">
            <strong class="post-author-name" bo-text="author.getDisplayName()"></strong>
          </a>
        </div>
        <div>
          <small>
            <a bo-href="'/' + author.username + '/post/' + post._id" bo-text="post.modified | date:'short'"></a>
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="post-content panel-body">
    <div bindonce="post" bo-text="post.content.textString"></div>
  </div>
  <div class="panel-footer auth-only">
    <div class="share-post">
      <a ng-click="share(post)" fa-icon="share"></a>
      <a ng-click="star(post)" fa-icon="star"></a>
    </div>
  </div>
  <div class="comments" ng-if="currentUser || comments.length">
    <div class="add-comment auth-only">
      <bs-profile-picture user="currentUser" class="add-comment-photo" size="32"></bs-profile-picture>
      <div class="add-comment-field">
        <input class="form-control" type="text" placeholder="Add comment..." ng-model="commentToAdd" ng-keydown="addComment($event)">
      </div>
    </div>
    <div ng-repeat="comment in comments" bs-comment="comment" on-delete-clicked="deleteComment(comment)"></div>
  </div>
</div>
