<div class="post panel panel-default hover-parent-5">
  <div class="post-meta panel-heading">
    <bs-profile-picture user="author" class="post-author-photo" size="60"></bs-profile-picture>
    <div class="post-info">
      <div class="post-options auth-only hover-only-5">
        <div class="dropdown">
          <a class="dropdown-toggle">
            <i class="fa fa-chevron-down"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a ng-show="currentUser._id === author._id" fa-icon="edit" ng-click="editing=true"> Edit</a>
            </li>
            <li>
              <a ng-show="currentUser._id === author._id" fa-icon="trash-o color-red" ng-click="removePost()"> Delete</a>
            </li>
            <li>
              <a ng-show="currentUser._id !== author._id">There aren't any options here for you... Yet...</a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <a ng-href="/{{author.username}}">
            <strong class="post-author-name">{{author.getDisplayName()}}</strong>
          </a>
        </div>
        <div>
          <small>
            <a ng-href="/post/{{post._id}}">{{post.modified | date:'short'}}</a>
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="post-content panel-body">
    <div ng-hide="editing">{{post.content.textString}}</div>
    <div ng-show="editing">
      <textarea ng-model="newPostContent" class="form-control"></textarea>
    </div>
  </div>
  <div class="panel-footer auth-only">
    <div class="share-post" ng-hide="editing">
      <a ng-click="share(post)" fa-icon="share"></a>
      <a ng-click="star(post)" fa-icon="star"></a>
    </div>
    <div class="edit-buttons" ng-show="editing">
      <button class="btn btn-default btn-xs pull-left" ng-click="editing=false">Cancel</button>
      <button class="btn btn-primary btn-xs pull-right" ng-click="updatePostContent(newPostContent)">Save</button>
    </div>
  </div>
  <div class="comments-container" ng-show="currentUser || comments.length">
    <div class="add-comment auth-only">
      <div class="add-comment-field">
        <bs-profile-picture user="currentUser" class="add-comment-photo" size="32"></bs-profile-picture>
        <input class="form-control" type="text" placeholder="Add comment..." ng-model="commentToAdd" ng-keydown="addComment($event)">
      </div>
    </div>
    <div class="comment-container" bs-scroll-bottom="scrollComments">
      <div ng-repeat="comment in comments" bs-comment="comment" on-delete-clicked="deleteComment(comment)"></div>
    </div>
  </div>
</div>
