facebook = #3B5998
twitter = #4099FF
googlePlus = #D34836

.color-white
  color: white;

.color-white > a:hover,
.color-white > a:active,
.color-white > a:visited,
a.color-white:hover,
a.color-white:active,
a.color-white:visited
  color: white;

.color-facebook
  color: facebook

.color-twitter
  color: twitter

.color-google-plus
  color: googlePlus

.background-color-facebook
  background-color: facebook

.color-twitter
  background-color: twitter

.color-google-plus
  background-color: googlePlus
