/*
 *
 * layout helpers
 *
 */

/*
 * margins
 */
for side in 'top' 'right' 'bottom' 'left'
  for size in (xsmall 5) (small 10) (medium 15) (large 20) (xlarge 25)
    .margin-{side}-{size[0]}
      margin-{side} size[1]px

/*
 * paddings
 */
for side in 'top' 'right' 'bottom' 'left'
  for size in (xsmall 5) (small 10) (medium 15) (large 20) (xlarge 25)
    .padding-{side}-{size[0]}
      padding-{side} size[1]px

/*
 *
 * Other
 *
 */
.clear-both {
  clear: both;
}