html, body {
  height: 100%;
}

body {
  background-color: #FAFCF9;
}

/* Fix for ui-bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }

#top-content {
  min-height: 100%;
  height: auto;
  margin: -20px auto -20px;
  padding: 20px 0 20px 0;
}

#centered-container {
}

#top-bar {
  background-color: #64A1C3;
  width: 100%;
  height: 76px;
  border-bottom:solid 4px #A5742A;
}

#sign-up-form {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 400px;
}

#sign-up-container h3 {
  margin-left: 20px;
}

#login-container {
  width: 500px;
  margin: 20px;
}

#login-username {
  width: 240px;
}

#logo-container {
  width: 800px;
}

#logo-container > img {
  width: 800px;
}

#footer-container {
  width: 100%;
  background-color: #A5742A;
  height: 40px;
}

#footer-container > div {
  margin-top: 10px;
}

.color-white {
  color: white;
}

.color-white > a:hover,
.color-white > a:active,
.color-white > a:visited,
a.color-white:hover,
a.color-white:active,
a.color-white:visited {
  color: #FFFFFF;
}

.center {
  float: none;
  margin: 0 auto;
}