
/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/imports.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/node_modules/stylus/lib/functions/index.styl */

/* line 284 : /Users/kentcdodds/Developer/bucketstreams/node_modules/stylus/lib/functions/index.styl */

/* line 284 : /Users/kentcdodds/Developer/bucketstreams/stylus/main.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/main.styl */
html,body{height:100%}

/* line 4 : /Users/kentcdodds/Developer/bucketstreams/stylus/main.styl */
body{background-color:#fafcf9}

/* line 7 : /Users/kentcdodds/Developer/bucketstreams/stylus/main.styl */
.ng-cloak{display:none}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/main.styl */

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-bs-blue-0{color:#03426a}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-bs-blue-0{background-color:#03426a}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-bs-blue-1{color:#24587a}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-bs-blue-1{background-color:#24587a}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-bs-blue-2{color:#0a67a3}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-bs-blue-2{background-color:#0a67a3}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-bs-blue-3{color:#3e97d1}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-bs-blue-3{background-color:#3e97d1}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-bs-blue-4{color:#65a6d1}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-bs-blue-4{background-color:#65a6d1}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-bs-brown-0{color:#6e3700}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-bs-brown-0{background-color:#6e3700}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-bs-brown-1{color:#bf8030}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-bs-brown-1{background-color:#bf8030}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-bs-brown-2{color:#ff8e00}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-bs-brown-2{background-color:#ff8e00}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-bs-brown-3{color:#ffaa40}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-bs-brown-3{background-color:#ffaa40}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-bs-brown-4{color:#ffc173}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-bs-brown-4{background-color:#ffc173}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-facebook,.button-facebook:hover{color:#3b5998}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-facebook,.button-facebook{background-color:#3b5998}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-twitter,.button-twitter:hover{color:#4099ff}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-twitter,.button-twitter{background-color:#4099ff}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-google-plus,.button-google-plus:hover{color:#d34836}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-google-plus,.button-google-plus{background-color:#d34836}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-red{color:#f00}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-red{background-color:#f00}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-blue{color:#00f}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-blue{background-color:#00f}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-green{color:#008000}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-green{background-color:#008000}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-white{color:#fff}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-white{background-color:#fff}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-yellow{color:#ff0}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.background-color-yellow{background-color:#ff0}

/* line 37 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/colors.styl */
.color-white > a:hover,.color-white > a:active,.color-white > a:visited,a.color-white:hover,a.color-white:active,a.color-white:visited{color:#fff}

/* line 39 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-0{margin:0}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-top-0{margin-top:0}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-right-0{margin-right:0}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-bottom-0{margin-bottom:0}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-left-0{margin-left:0}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-0{padding:0}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-top-0{padding-top:0}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-right-0{padding-right:0}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-bottom-0{padding-bottom:0}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-left-0{padding-left:0}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-xxsmall{margin:6px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-top-xxsmall{margin-top:6px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-right-xxsmall{margin-right:6px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-bottom-xxsmall{margin-bottom:6px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-left-xxsmall{margin-left:6px}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-xxsmall{padding:6px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-top-xxsmall{padding-top:6px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-right-xxsmall{padding-right:6px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-bottom-xxsmall{padding-bottom:6px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-left-xxsmall{padding-left:6px}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-xsmall{margin:12px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-top-xsmall{margin-top:12px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-right-xsmall{margin-right:12px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-bottom-xsmall{margin-bottom:12px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-left-xsmall{margin-left:12px}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-xsmall{padding:12px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-top-xsmall{padding-top:12px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-right-xsmall{padding-right:12px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-bottom-xsmall{padding-bottom:12px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-left-xsmall{padding-left:12px}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-small{margin:18px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-top-small{margin-top:18px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-right-small{margin-right:18px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-bottom-small{margin-bottom:18px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-left-small{margin-left:18px}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-small{padding:18px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-top-small{padding-top:18px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-right-small{padding-right:18px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-bottom-small{padding-bottom:18px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-left-small{padding-left:18px}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-medium{margin:24px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-top-medium{margin-top:24px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-right-medium{margin-right:24px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-bottom-medium{margin-bottom:24px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-left-medium{margin-left:24px}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-medium{padding:24px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-top-medium{padding-top:24px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-right-medium{padding-right:24px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-bottom-medium{padding-bottom:24px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-left-medium{padding-left:24px}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-large{margin:30px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-top-large{margin-top:30px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-right-large{margin-right:30px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-bottom-large{margin-bottom:30px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-left-large{margin-left:30px}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-large{padding:30px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-top-large{padding-top:30px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-right-large{padding-right:30px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-bottom-large{padding-bottom:30px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-left-large{padding-left:30px}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-xlarge{margin:36px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-top-xlarge{margin-top:36px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-right-xlarge{margin-right:36px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-bottom-xlarge{margin-bottom:36px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-left-xlarge{margin-left:36px}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-xlarge{padding:36px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-top-xlarge{padding-top:36px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-right-xlarge{padding-right:36px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-bottom-xlarge{padding-bottom:36px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-left-xlarge{padding-left:36px}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-xxlarge{margin:42px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-top-xxlarge{margin-top:42px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-right-xxlarge{margin-right:42px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-bottom-xxlarge{margin-bottom:42px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.margin-left-xxlarge{margin-left:42px}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-xxlarge{padding:42px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-top-xxlarge{padding-top:42px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-right-xxlarge{padding-right:42px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-bottom-xxlarge{padding-bottom:42px}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.padding-left-xxlarge{padding-left:42px}

/* line 20 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.vertical-align-middle{vertical-align:middle}

/* line 20 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.vertical-align-top{vertical-align:top}

/* line 20 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.vertical-align-bottom{vertical-align:bottom}

/* line 20 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.display-inline{display:inline}

/* line 20 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.display-inline-block{display:inline-block}

/* line 20 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.display-block{display:block}

/* line 20 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.display-none{display:none}

/* line 20 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.position-absolute{position:absolute}

/* line 20 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.position-relative{position:relative}

/* line 20 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.position-fixed{position:fixed}

/* line 28 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.clear-both{clear:both}

/* line 31 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.height-100{height:100%}

/* line 34 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/layout-helpers.styl */
.width-100{width:100%}

/* line 36 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/other.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/other.styl */
.opacity1{opacity:1;z-index:1}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/other.styl */
.opacity0{opacity:0;z-index:-1}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/other.styl */
.transition-all-fast{transition:all .25s ease-in-out}

/* line 12 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/other.styl */
.transition-all-slow{transition:all 1s ease-in-out}

/* line 15 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/other.styl */
.transition-all-medium{transition:all .5s ease-in-out}

/* line 18 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/other.styl */
.cursor-pointer{cursor:pointer}

/* line 21 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/other.styl */
.label-container{min-height:20px}

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxsmall{font-size:.7em}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxsmall-2x{font-size:1.4em}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxsmall-3x{font-size:2.0999999999999996em}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxsmall-4x{font-size:2.8em}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxsmall-5x{font-size:3.5em}

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xsmall{font-size:.8em}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xsmall-2x{font-size:1.6em}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xsmall-3x{font-size:2.4000000000000004em}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xsmall-4x{font-size:3.2em}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xsmall-5x{font-size:4em}

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-small{font-size:.9em}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-small-2x{font-size:1.8em}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-small-3x{font-size:2.7em}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-small-4x{font-size:3.6em}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-small-5x{font-size:4.5em}

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-medium{font-size:1em}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-medium-2x{font-size:2em}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-medium-3x{font-size:3em}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-medium-4x{font-size:4em}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-medium-5x{font-size:5em}

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-large{font-size:1.1em}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-large-2x{font-size:2.2em}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-large-3x{font-size:3.3000000000000003em}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-large-4x{font-size:4.4em}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-large-5x{font-size:5.5em}

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xlarge{font-size:1.2em}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xlarge-2x{font-size:2.4em}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xlarge-3x{font-size:3.5999999999999996em}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xlarge-4x{font-size:4.8em}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xlarge-5x{font-size:6em}

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxlarge{font-size:1.3em}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxlarge-2x{font-size:2.6em}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxlarge-3x{font-size:3.9000000000000004em}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxlarge-4x{font-size:5.2em}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxlarge-5x{font-size:6.5em}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-center{text-align:center}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-end{text-align:end}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-inherit{text-align:inherit}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-initial{text-align:initial}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-justify{text-align:justify}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-left{text-align:left}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-right{text-align:right}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-start{text-align:start}

/* line 23 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-decoration-none{text-decoration:none}

/* line 23 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-decoration-underline{text-decoration:underline}

/* line 26 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
a.text-decoration-none,a.text-decoration-none:hover{text-decoration:none}

/* line 28 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/ui-bootstrap-fixes.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/ui-bootstrap-fixes.styl */
.panel-title>a:hover{text-decoration:none}

/* line 4 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/ui-bootstrap-fixes.styl */
.nav,.pagination,.carousel a{cursor:pointer}

/* line 7 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/ui-bootstrap-fixes.styl */
ul.dropdown-menu li{cursor:pointer}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/ui-bootstrap-fixes.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bs-common/bsProfilePictureUpload.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bs-common/bsProfilePictureUpload.styl */
.user-profile-picture-upload{width:160px;height:160px;}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bs-common/bsProfilePictureUpload.styl */
.user-profile-picture-upload img{width:160px;height:160px}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bs-common/bsProfilePictureUpload.styl */
.user-profile-picture-upload .change-photo{cursor:pointer;position:absolute;font-size:2.2em;top:50%;left:50%;margin-top:-38px;margin-left:-38px;color:#fff;background-color:rgba(0,0,0,0.5);padding:16px;border-radius:50%;width:76px;height:76px;opacity:0;transition:opacity .2s linear;}

/* line 24 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bs-common/bsProfilePictureUpload.styl */
.user-profile-picture-upload .change-photo.visible{opacity:1}

/* line 26 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bs-common/bsProfilePictureUpload.styl */
.user-profile-picture-upload .change-photo i{padding-top:8px}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bs-common/bsProfilePictureUpload.styl */
.user-profile-picture-upload .bs-new-photo-wrapper{position:absolute;border-radius:50%;top:0;left:50%;z-index:-1;opacity:0;height:100%}

/* line 37 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsBucketChooser.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsBucketChooser.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsBucketChooser.styl */
.bs-bucket-chooser .bs-bucket-chooser-icon{font-size:1.4em}

/* line 4 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsBucketChooser.styl */
.bs-bucket-chooser .selected-buckets{display:inline;position:absolute;left:20px;}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsBucketChooser.styl */
.bs-bucket-chooser .selected-buckets .label{margin:.2em}

/* line 10 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsBucketChooser.styl */
.bs-bucket-chooser .dropdown-menu{max-height:160px;overflow-y:scroll;width:240px;overflow-x:hidden;opacity:0;transition:opacity .3s;display:block;z-index:-1;}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsBucketChooser.styl */
.bs-bucket-chooser .dropdown-menu.open{opacity:1;z-index:999}

/* line 22 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsBucketChooser.styl */
.bs-bucket-chooser .dropdown-menu .search-item{padding:6px 16px 0 16px;}

/* line 24 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsBucketChooser.styl */
.bs-bucket-chooser .dropdown-menu .search-item input{line-height:.8;height:28px}

/* line 110 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */

/* line 110 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 12 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 30 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 197 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 92 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 21 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 67 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 67 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxsmall{font-size:.7em}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxsmall-2x{font-size:1.4em}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxsmall-3x{font-size:2.0999999999999996em}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxsmall-4x{font-size:2.8em}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxsmall-5x{font-size:3.5em}

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xsmall{font-size:.8em}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xsmall-2x{font-size:1.6em}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xsmall-3x{font-size:2.4000000000000004em}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xsmall-4x{font-size:3.2em}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xsmall-5x{font-size:4em}

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-small{font-size:.9em}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-small-2x{font-size:1.8em}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-small-3x{font-size:2.7em}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-small-4x{font-size:3.6em}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-small-5x{font-size:4.5em}

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-medium{font-size:1em}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-medium-2x{font-size:2em}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-medium-3x{font-size:3em}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-medium-4x{font-size:4em}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-medium-5x{font-size:5em}

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-large{font-size:1.1em}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-large-2x{font-size:2.2em}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-large-3x{font-size:3.3000000000000003em}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-large-4x{font-size:4.4em}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-large-5x{font-size:5.5em}

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xlarge{font-size:1.2em}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xlarge-2x{font-size:2.4em}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xlarge-3x{font-size:3.5999999999999996em}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xlarge-4x{font-size:4.8em}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xlarge-5x{font-size:6em}

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxlarge{font-size:1.3em}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxlarge-2x{font-size:2.6em}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxlarge-3x{font-size:3.9000000000000004em}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxlarge-4x{font-size:5.2em}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.font-size-xxlarge-5x{font-size:6.5em}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-center{text-align:center}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-end{text-align:end}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-inherit{text-align:inherit}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-initial{text-align:initial}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-justify{text-align:justify}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-left{text-align:left}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-right{text-align:right}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-align-start{text-align:start}

/* line 23 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-decoration-none{text-decoration:none}

/* line 23 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
.text-decoration-underline{text-decoration:underline}

/* line 26 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */
a.text-decoration-none,a.text-decoration-none:hover{text-decoration:none}

/* line 28 : /Users/kentcdodds/Developer/bucketstreams/stylus/other/text.styl */

/* line undefined : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 574 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 574 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper{height:100%;position:relative;overflow:hidden;}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-opener{color:#fafcf9;height:40px;}

/* line 12 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-opener .bs-menu-opener-icon{font-size:24px;padding:2px}

/* line 15 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper{width:60px;position:fixed;overflow:hidden;bottom:0;left:0;top:40px;z-index:1000;-webkit-transform:translateX(-60px);-moz-transform:translateX(-60px);-o-transform:translateX(-60px);-ms-transform:translateX(-60px);transform:translateX(-60px);-webkit-transition:-webkit-transform 0.3s, width 0.3s;-moz-transition:-moz-transform 0.3s, width 0.3s;-o-transition:-o-transform 0.3s, width 0.3s;-ms-transition:-ms-transform 0.3s, width 0.3s;transition:transform 0.3s, width 0.3s;}

/* line 26 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper.large-options,.bs-menu-wrapper .bs-menu-options-wrapper.small-options{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */

/* line 30 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper.small-options .hide-on-small{display:none}

/* line 33 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper.large-options{width:340px}

/* line 36 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */

/* line 37 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper.sub-menu-open .bs-menu-options{-webkit-transform:translateX(40px);-moz-transform:translateX(40px);-o-transform:translateX(40px);-ms-transform:translateX(40px);transform:translateX(40px);}

/* line 39 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */

/* line 40 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper.sub-menu-open .bs-menu-options .option-link i{padding-right:0;-webkit-transform:translateX(250px);-moz-transform:translateX(250px);-o-transform:translateX(250px);-ms-transform:translateX(250px);transform:translateX(250px);-webkit-transition:-webkit-transform 0.42s;-moz-transition:-moz-transform 0.42s;-o-transition:-o-transform 0.42s;-ms-transition:-ms-transform 0.42s;transition:transform 0.42s}

/* line 44 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper{overflow:hidden;}

/* line 47 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper .bs-menu-scroll-hider{position:absolute;overflow-y:scroll;width:370px;height:100%;}

/* line 52 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper .bs-menu-scroll-hider .bs-menu-options{width:300px;-webkit-transition:-webkit-transform 0.3s;-moz-transition:-moz-transform 0.3s;-o-transition:-o-transform 0.3s;-ms-transition:-ms-transform 0.3s;transition:transform 0.3s;color:#fafcf9;background-color:#03426a;font-size:1.6em;height:100%;}

/* line 59 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper .bs-menu-scroll-hider .bs-menu-options i{padding-right:24px;-webkit-transition:-webkit-transform 0.42s;-moz-transition:-moz-transform 0.42s;-o-transition:-o-transform 0.42s;-ms-transition:-ms-transform 0.42s;transition:transform 0.42s;background-color:transparent !important}

/* line 64 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper .bs-menu-scroll-hider .bs-menu-options a{color:#fafcf9;text-decoration:none;cursor:pointer}

/* line 69 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper .bs-menu-scroll-hider .bs-menu-options ul{list-style:none;padding-left:0;margin:0}

/* line 73 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper .bs-menu-scroll-hider .bs-menu-options li{cursor:pointer;padding:0 24px;line-height:3.4;background-color:#03426a;color:#fafcf9}

/* line 80 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper .bs-menu-scroll-hider .bs-menu-options.bs-sub-menu{width:300px;font-size:1.2em;bottom:0;top:0;left:0;position:fixed;-webkit-transform:translateX(-300px);-moz-transform:translateX(-300px);-o-transform:translateX(-300px);-ms-transform:translateX(-300px);transform:translateX(-300px);-webkit-transition:-webkit-transform 0.405s;-moz-transition:-moz-transform 0.405s;-o-transition:-o-transform 0.405s;-ms-transition:-ms-transform 0.405s;transition:transform 0.405s;}

/* line 90 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper .bs-menu-scroll-hider .bs-menu-options.bs-sub-menu.show{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}

/* line 93 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper .bs-menu-scroll-hider .bs-menu-options.bs-sub-menu .menu-options{width:300px;height:100%;}

/* line 96 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper .bs-menu-scroll-hider .bs-menu-options.bs-sub-menu .menu-options i{padding-right:12px}

/* line 98 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper .bs-menu-scroll-hider .bs-menu-options.bs-sub-menu .menu-options .sub-menu-context{font-size:1.4em;padding-top:16px;padding-bottom:16px;line-height:1;background-color:rgba(0,0,0,0.15);}

/* line 104 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper .bs-menu-scroll-hider .bs-menu-options.bs-sub-menu .menu-options .sub-menu-contexthover{background-color:rgba(0,0,0,0.35)}

/* line 106 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper .bs-menu-scroll-hider .bs-menu-options.bs-sub-menu .menu-options .sub-menu-context .selected-icon{padding-right:6px}

/* line 108 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsMenu.styl */
.bs-menu-wrapper .bs-menu-options-wrapper .bs-menu-scroll-hider-wrapper .bs-menu-scroll-hider .bs-menu-options.bs-sub-menu .menu-options .sub-menu-context .back-icon{color:#999}

/* line 29 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsProfilePicture.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsProfilePicture.styl */
.bs-profile-picture-wrapper{display:inline;}

/* line 4 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsProfilePicture.styl */
.bs-profile-picture-wrapper img.small{width:32px;height:32px}

/* line 4 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsProfilePicture.styl */
.bs-profile-picture-wrapper img.medium{width:64px;height:64px}

/* line 4 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/bsProfilePicture.styl */
.bs-profile-picture-wrapper img.large{width:128px;height:128px}

/* line 7 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/common-page.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/common-page.styl */
.top-bar{width:100%;border-bottom:solid 4px #6e3700;background-color:#03426a}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/front-page.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/front-page.styl */

/* line 3 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/front-page.styl */
#front-page-container .top-content{min-height:100%;height:auto;margin:-20px auto -20px;padding:20px 0 20px 0;}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/front-page.styl */
#front-page-container .top-content .top-bar{height:76px}

/* line 12 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/front-page.styl */
#front-page-container .top-content #center-content{width:400px;margin-top:40px;margin-bottom:100px}

/* line 17 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/front-page.styl */
#front-page-container .top-content #front-page-forms{width:350px}

/* line 20 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/front-page.styl */
#front-page-container .top-content .logo-container{width:800px}

/* line 23 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/front-page.styl */
#front-page-container .top-content .logo-container > img{width:800px}

/* line 26 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/front-page.styl */
#front-page-container .footer-container{width:100%;background-color:#6e3700;height:40px}

/* line 31 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/front-page.styl */
#front-page-container .footer-container > div{margin-top:10px}

/* line 33 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/main.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/main.styl */

/* line 3 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/main.styl */
#main-container .top-bar{height:40px;position:fixed;z-index:1000;top:0;}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/main.styl */
#main-container .top-bar .bs-logo{max-height:36px;padding:2px}

/* line 12 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsNewPost.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsNewPost.styl */
.new-post-form{width:400px;position:relative;}

/* line 4 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsNewPost.styl */
.new-post-form .bs-profile-picture-wrapper{left:0;position:absolute}

/* line 7 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsNewPost.styl */

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsNewPost.styl */
.new-post-form .new-post-form-wrapper textarea{height:80px;resize:none;-webkit-border-radius:40px 8px 8px 40px;border-radius:40px 8px 8px 40px;padding-left:86px}

/* line 13 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsNewPost.styl */
.new-post-form .new-post-form-wrapper .bs-bucket-chooser-wrapper{position:absolute;width:334px}

/* line 16 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post{width:400px;}

/* line 4 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .post-meta{height:80px;position:relative;}

/* line 7 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .post-meta .post-author-photo{padding:6px;position:absolute}

/* line 10 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .post-meta .post-info{display:inline-block;padding:6px;vertical-align:top;width:100%;padding-left:72px;}

/* line 16 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .post-meta .post-info .post-options{display:inline;float:right;}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */

/* line 20 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .post-meta .post-info .post-options .dropdown .dropdown-toggle{cursor:pointer;text-decoration:none}

/* line 23 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .post-meta .post-info .post-options .dropdown ul{float:right}

/* line 25 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .post-meta .post-author-name{font-size:1.2em}

/* line 28 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .post-content{font-size:1.1em;}

/* line 30 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .post-content textarea{height:74px;resize:vertical}

/* line 33 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .panel-footer{height:40px;border-bottom:solid 1px #ddd}

/* line 36 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .share-post{float:right;border-bottom-left-radius:initial;border-bottom-right-radius:initial;}

/* line 40 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .share-post a{padding:12px;cursor:pointer}

/* line 43 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .mode-create{padding:6px 15px 6px 6px}

/* line 45 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */

/* line 46 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .create-footer .create-post-icons{margin-top:4px}

/* line 48 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .create-footer .post-button{width:60px;padding:3px}

/* line 52 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .comments{padding:10px;}

/* line 54 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .comments .add-comment{position:relative;}

/* line 56 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .comments .add-comment .add-comment-photo{display:inline;position:absolute;margin-right:12px}

/* line 60 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .comments .add-comment .add-comment-field{padding-left:46px;display:inline-block;width:100%}

/* line 64 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .comments .comment{margin-top:18px;position:relative;font-size:.9em}

/* line 68 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .comments .comment-photo{margin-right:12px;display:inline;position:absolute}

/* line 72 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/post/bsPost.styl */
.post .comments .comment-info{display:inline-block;vertical-align:top;padding-left:46px}

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/provider-buttons.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/provider-buttons.styl */

/* line 4 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/provider-buttons.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/provider-buttons.styl */

/* line 4 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/provider-buttons.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/provider-buttons.styl */

/* line 4 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/provider-buttons.styl */

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/signup.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/signup.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/signup.styl */
#registration-form .loading-spinner{font-size:5em}

/* line 4 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/stream.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/stream.styl */
.stream{background-color:#fefefe}

/* line 3 : /Users/kentcdodds/Developer/bucketstreams/stylus/components/stream.styl */

/* line 3 : /Users/kentcdodds/Developer/bucketstreams/stylus/main/index.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/main/index.styl */
.main-content{margin-top:40px;padding:4px 40px 40px 40px}

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/main/profile.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/stylus/main/profile.styl */

/* line 3 : /Users/kentcdodds/Developer/bucketstreams/stylus/main/profile.styl */
.profile-content .drag-drop-area{border:dotted #666 2px;margin:6px;padding:60px 0;text-align:center;font-size:30px;background-color:#e0e0e0;color:#666;}

/* line 12 : /Users/kentcdodds/Developer/bucketstreams/stylus/main/profile.styl */
.profile-content .drag-drop-area.file-hovering{background-color:#eee;color:#2b2b2b;}

/* line 15 : /Users/kentcdodds/Developer/bucketstreams/stylus/main/profile.styl */
.profile-content .drag-drop-area.file-hovering .choose-file-button{visibility:hidden}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/main/profile.styl */
.profile-content .btn-file{position:relative;overflow:hidden}

/* line 23 : /Users/kentcdodds/Developer/bucketstreams/stylus/main/profile.styl */
.profile-content .btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:999px;text-align:right;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);outline:none;background:#fff;cursor:inherit;display:block}
