
/* line 68 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/node_modules/stylus/lib/functions/index.styl */

/* line 284 : /Users/kentcdodds/Developer/bucketstreams/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 12 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 30 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 197 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 92 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 21 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 67 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 67 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 10 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line undefined : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 574 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 574 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/kentcdodds/Developer/bucketstreams/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 3 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */
#top-content{min-height:100%;height:auto;margin:-20px auto -20px;padding:20px 0 20px 0}

/* line 10 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */
#top-bar{background-color:#2c4286;width:100%;height:76px;border-bottom:solid 4px #693a1b}

/* line 17 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */
.form-flow{width:400px;margin-top:40px;margin-bottom:100px}

/* line 23 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */
#logo-container{width:800px}

/* line 27 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */
#logo-container > img{width:800px}

/* line 31 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */
#footer-container{width:100%;background-color:#693a1b;height:40px}

/* line 37 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */
#footer-container > div{margin-top:10px}

/* line 41 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */
.third-party-button{color:#fff;font-size:30px}

/* line 46 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */
.button-facebook{background-color:#3b5998}

/* line 50 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */
.button-facebook:hover{color:#3b5998}

/* line 54 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */
.button-twitter{background-color:#4099ff}

/* line 58 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */
.button-twitter:hover{color:#4099ff}

/* line 62 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */
.button-google-plus{background-color:#d34836}

/* line 66 : /Users/kentcdodds/Developer/bucketstreams/stylus/anon.styl */
.button-google-plus:hover{color:#d34836}


/* line 28 : /Users/kentcdodds/Developer/bucketstreams/stylus/colors.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/node_modules/stylus/lib/functions/index.styl */

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/colors.styl */
.color-white{color:#fff}

/* line 8 : /Users/kentcdodds/Developer/bucketstreams/stylus/colors.styl */
.color-white > a:hover,.color-white > a:active,.color-white > a:visited,a.color-white:hover,a.color-white:active,a.color-white:visited{color:#fff}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/colors.styl */
.color-facebook{color:#3b5998}

/* line 14 : /Users/kentcdodds/Developer/bucketstreams/stylus/colors.styl */
.color-twitter{color:#4099ff}

/* line 17 : /Users/kentcdodds/Developer/bucketstreams/stylus/colors.styl */
.color-google-plus{color:#d34836}

/* line 20 : /Users/kentcdodds/Developer/bucketstreams/stylus/colors.styl */
.background-color-facebook{background-color:#3b5998}

/* line 23 : /Users/kentcdodds/Developer/bucketstreams/stylus/colors.styl */
.color-twitter{background-color:#4099ff}

/* line 26 : /Users/kentcdodds/Developer/bucketstreams/stylus/colors.styl */
.color-google-plus{background-color:#d34836}


/* line 61 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/node_modules/stylus/lib/functions/index.styl */

/* line 284 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */

/* line 7 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */

/* line 12 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */
.margin-right-xsmall{margin-right:5px}

/* line 16 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */
.margin-right-small{margin-right:10px}

/* line 20 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */
.margin-right-medium{margin-right:15px}

/* line 24 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */
.margin-right-large{margin-right:20px}

/* line 28 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */
.margin-right-xlarge{margin-right:25px}

/* line 32 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */

/* line 34 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */
.margin-left-xsmall{margin-left:5px}

/* line 38 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */
.margin-left-small{margin-left:10px}

/* line 42 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */
.margin-left-medium{margin-left:15px}

/* line 46 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */
.margin-left-large{margin-left:20px}

/* line 50 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */
.margin-left-xlarge{margin-left:25px}

/* line 54 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */

/* line 59 : /Users/kentcdodds/Developer/bucketstreams/stylus/layout-helpers.styl */
.clear-both{clear:both}


/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/main.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/main.styl */
html,body{height:100%}

/* line 5 : /Users/kentcdodds/Developer/bucketstreams/stylus/main.styl */
body{background-color:#fafcf9}

/* line 9 : /Users/kentcdodds/Developer/bucketstreams/stylus/main.styl */

/* line 10 : /Users/kentcdodds/Developer/bucketstreams/stylus/main.styl */
.nav,.pagination,.carousel a{cursor:pointer}


/* line 21 : /Users/kentcdodds/Developer/bucketstreams/stylus/other.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/kentcdodds/Developer/bucketstreams/stylus/other.styl */
.opacity1{opacity:1;z-index:1}

/* line 6 : /Users/kentcdodds/Developer/bucketstreams/stylus/other.styl */
.opacity0{opacity:0;z-index:-1}

/* line 11 : /Users/kentcdodds/Developer/bucketstreams/stylus/other.styl */
.transition-all-fast{transition:all .25s ease-in-out}

/* line 15 : /Users/kentcdodds/Developer/bucketstreams/stylus/other.styl */
.transition-all-slow{transition:all 1s ease-in-out}

/* line 19 : /Users/kentcdodds/Developer/bucketstreams/stylus/other.styl */
.transition-all-medium{transition:all .5s ease-in-out}
