<form name="profilePicturePhoto" role="form">
  <div ng-file-drop-available="dropSupported=true"
       ng-show="dropSupported"
       ng-file-drop="onFileSelect($files)"
       ng-file-drag-over-class="file-hovering"
       class="drag-drop-area">
    <div ng-hide="uploadInProgress">
      <div>
        Drag and drop
      </div>
      <button class="choose-file-button btn btn-primary btn-file">
        Choose Picture
        <input type="file" ng-file-select="onFileSelect($files)">
      </button>
    </div>
    <div ng-show="uploadInProgress">
      <div>
        Upload in progress...
      </div>
      <button ng-click="upload.abort()" class="btn btn-warning">Cancel Upload</button>
    </div>
  </div>
</form>