extends main
  block content
    .center-block.post.panel.panel-default
  .post-meta.panel-heading.position-relative
    a(ng-href='/pie', href='/pie')
      img.post-author-photo.padding-xxsmall.img-circle.position-absolute(ng-src='https://s3.amazonaws.com/bs-images/5312e5498a9af3e41a000007/profile/0e9edf60-5d41-44a2-898f-9582f6aeb1c7-fam-pic.jpg?', src='https://s3.amazonaws.com/bs-images/5312e5498a9af3e41a000007/profile/0e9edf60-5d41-44a2-898f-9582f6aeb1c7-fam-pic.jpg?')
    .post-info.display-inline-block.padding-xxsmall.vertical-align-top.width-100
      .display-inline.pull-right
        .dropdown
          a.dropdown-toggle.cursor-pointer.text-decoration-none
            i.fa.fa-chevron-down.cursor-pointer
          ul.dropdown-menu.pull-right
            li
              a(ng-show='currentUser._id === author._id', fa-icon='trash-o', ng-click='removePost()')
                i.fa.fa-trash-o
                | Delete
      div
        a(ng-href='/pie', href='/pie')
          strong.post-user.font-size-xlarge.ng-binding Kent C. Dodds
      div
        small
          a(bindonce='post', ng-href='/pie/5312eedb07c820201c00000a', bo-text='post.modified | date:"short"', href='/pie/5312eedb07c820201c00000a') 3/2/14 1:42 AM
  .post-content.panel-body.font-size-large
    div(bindonce='post', bo-text='post.content.textString')
      | asa beef t-bone biltong venison ball tip ribeye pork belly beef ribs pancetta. Pork tail bacon ham hock biltong shank, short ribs strip steak cow short loin pancetta. Beef tongue biltong ham, jerky fatback landjaeger salami bresaola ball tip bacon.
  .panel-footer
    .pull-right.share-post
      a.padding-xsmall.cursor-pointer(ng-click='share(post)', fa-icon='share')
        i.fa.fa-share
      a.padding-xsmall.cursor-pointer(ng-click='star(post)', fa-icon='star')
        i.fa.fa-star
  .comments
    .add-comment.position-relative
      a(bindonce='currentUser', bo-href='"/" + currentUser.username', href='/pie')
        img.add-comment-photo.img-circle.display-inline.position-absolute(bo-src='currentUser.getProfilePicture()', src='https://s3.amazonaws.com/bs-images/5312e5498a9af3e41a000007/profile/0e9edf60-5d41-44a2-898f-9582f6aeb1c7-fam-pic.jpg?')
      .add-comment-field.display-inline-block
        input.form-control.ng-pristine.ng-valid(type='text', placeholder='Add comment...', ng-model='commentToAdd', ng-keydown='addComment($event)', style='')
    .comment.position-relative.font-size-small.ng-scope.ng-isolate-scope(ng-mouseenter='showDelete=true', ng-mouseleave='showDelete=false', ng-repeat='comment in comments', bs-comment='comment', on-delete-clicked='deleteComment(comment)')
      a(ng-href='/pie', href='/pie')
        img.comment-photo.img-circle.display-inline.position-absolute(ng-src='https://s3.amazonaws.com/bs-images/5312e5498a9af3e41a000007/profile/0e9edf60-5d41-44a2-898f-9582f6aeb1c7-fam-pic.jpg?', src='https://s3.amazonaws.com/bs-images/5312e5498a9af3e41a000007/profile/0e9edf60-5d41-44a2-898f-9582f6aeb1c7-fam-pic.jpg?')
      .comment-info.display-inline-block.vertical-align-top
        div
          a(ng-href='/pie', href='/pie')
            strong.comment-user.ng-binding Kent C. Dodds
          | -
          small(bindonce='comment', bo-text='comment.modified | date:"short"') 3/2/14 1:50 AM
          i.fa.fa-trash-o.color-red.cursor-pointer.ng-hide(ng-show='showDelete && canDelete()', ng-click='deleteComment()')
        .comment-content(bindonce='comment', bo-text='comment.content') Good stuff, for sure!
