.opacity1
  opacity: 1;
  z-index: 1;

.opacity0
  opacity: 0;
  z-index: -1;

.transition-all-fast
  transition: all .25s ease-in-out;

.transition-all-slow
  transition: all 1s ease-in-out;

.transition-all-medium
  transition: all .5s ease-in-out;

.cursor-pointer
  cursor pointer

.label-container
  min-height 20px