.panel-title>a:hover
  text-decoration none

.nav, .pagination, .carousel a
  cursor pointer

ul.dropdown-menu li
  cursor pointer

.label-brown
  background-color bsBrown0
.label-blue
  background-color bsBlue0