<div ng-switch on="result.type" class="center-block text-align-center" style="width:500px">
  <h1>Reset Password</h1>
  <div><strong>Code:</strong> {{code}}</div>
  <div ng-switch-when="success">
    <h2>Hi {{user.getDisplayName()}},</h2>
    <div>
      <span>
        <div>You can reset your password here.</div>
        <small>Oh, and if you're not {{user.getDisplayName()}}, please don't change their password. That would be mean...</small>
      </span>
      <form name="form" id="info-form" role="form" ng-submit="onSubmit(newPassword)" class="clearfix">
        <div class="form-group margin-top-small">
          <label for="username-or-email-field">New Password</label>
          <input id="username-or-email-field" name="newPassword" class="form-control" type="password" bs-autofocus="true" placeholder="Password" ng-model="newPassword" required>
        </div>
        <button type="submit" class="btn btn-primary pull-right" form="info-form"><i class="fa fa-{{loading ? 'spinner fa-spin' : 'lock'}}"></i> Reset Password</button>
        <a ui-sref="root.auth.home" class="pull-left">Cancel</a>
      </form>
    </div>
  </div>
  <div ng-switch-when="internal-error">
    <h2>Uh oh!</h2>
    <div>There was an internal problem... Sorry about that!</div>
  </div>
  <div ng-switch-when="already-confirmed">
    <h2>Already Changed</h2>
    <div>Looks like this code has already been used to change a password already...</div>
  </div>
  <div ng-switch-when="invalid-link">
    <h2>Er...</h2>
    <div>Not sure where you got that link, but it is invalid. Did we send it to you? :-/</div>
  </div>
  <div ng-switch-when="expired-link">
    <h2>Code Expired</h2>
    <div>That code has expired.</div>
  </div>
  <div ng-switch-default>
    <h2>Hmmm...</h2>
    <div>We're not sure what happened here... Why don't you try again?</div>
  </div>
  <div ng-if="result.type !== 'success'" class="margin-top-small">
    <a class="pull-left btn btn-default" href="mailto:info@bucketstreams.com" target="_blank">Help</a>
    <button class="pull-right btn btn-info" ng-click="sendNewResetPasswordEmail(user.email)"><i class="fa fa-{{loading ? 'spinner fa-spin' : 'envelope'}}"></i> Send Another Link</button>
  </div>
</div>