<div class="profile-photo-chooser">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h3>Where should we get your photo?</h3>
  </div>
  <div class="modal-body text-align-center">
    <div ng-hide="uploadInProgress">
      <button class="btn provider-button button-facebook" fa-icon="facebook" tooltip="Get Facebook Photo" ng-click="useProviderPhoto('facebook')"> Facebook</button>
      <button class="upload-file btn provider-button"
           ng-file-drop-available="dropSupported=true"
           ng-file-drop="onFileSelect($files)"
           ng-file-drage-over-class="file-hovering">
        <i class="fa fa-upload btn-file">
          <strong>Upload</strong>
          <input type="file" name="upload" ng-file-select="onFileSelect($files)">
        </i>
      </button>
      <button class="btn provider-button button-twitter" fa-icon="twitter" tooltip="Get Twitter Photo" ng-click="useProviderPhoto('twitter')"> Twitter</button>
    </div>
    <div ng-show="uploadInProgress">
      <div bs-spinner size="medium" text-position="bottom" spinner-text="Uploading..."></div>
    </div>
  </div>
</div>