<div class="center-block form-flow">
  <img src="../images/logo-small.png">
  <h1>Login with...</h1>
  <div class="third-party-buttons">
    <button class="btn btn-default btn-block btn-lg button-facebook third-party-button" ng-click="login('facebook')">
      <i class="fa fa-facebook margin-right-medium"></i> Facebook
    </button>
    <button class="btn btn-default btn-block btn-lg button-twitter third-party-button" ng-click="login('twitter')">
      <i class="fa fa-twitter margin-right-medium"></i> Twitter
    </button>
    <button class="btn btn-default btn-block btn-lg button-google-plus third-party-button" ng-click="login('google')">
      <i class="fa fa-google-plus margin-right-medium"></i> Google+
    </button>
  </div>
  <div ui-view>
    This is here
  </div>
</div>