.comment
  position relative
  font-size .9em
  .comment-photo
    margin-right 12px
    display inline
    position absolute
  .comment-info
    display inline-block
    vertical-align top
    padding-left 46px
    width 100%