.new-post-form
  width 400px
  position relative
  .bs-profile-picture-wrapper
    left 0
    position absolute
    margin-top 1px
  .new-post-form-wrapper
    textarea
      height 80px
      resize none
      border-radius 40px 8px 8px 40px
      padding-left 86px
    .bs-bucket-stream-chooser-wrapper
      position absolute
      width 334px