.post
  width 100%
  margin-bottom 14px
  border-radius 0
  padding 6px 0 6px 0

  .post-meta
    height 70px
    position relative
    background-color #FFF
    border-bottom-width 0

    .post-author-photo
      position absolute
    .post-info
      display inline-block
      padding 0 6px 6px 6px
      vertical-align top
      width 100%
      padding-left 58px
      .post-options
        float right
        display inline
        & > a, .dropdown
          margin 12px
          cursor pointer
          &hover
            text-decoration none
        .is-favorite
          color #FFB800
          &hover
            color #2A6496
        .dropdown
          .dropdown-toggle
            cursor pointer
            text-decoration none
          ul
            float right
    .post-author-name
      font-size 1.2em

  .post-content
    font-size 1.1em
    padding 0 14px 0 14px
    .post-content-shared
      font-size .8em
      margin-bottom 14px
      .share-info
        position absolute
        margin-left 6px
    textarea
      height 74px
      resize vertical
    .source-icon
      margin-right 4px
    .original-post
      margin-left 8px
    .edit-buttons
      margin-top 12px
      margin-bottom 12px

  .comments-container
    padding 10px
    .add-comment
      position relative
      .add-comment-photo
        display inline
        position absolute
        margin-top 1px
      .add-comment-field
        display inline-block
        width 100%
        input
          border-radius 32px 8px 8px 32px
          padding-left 36px
    .comment-container
      max-height 180px
      overflow-y scroll
      margin-top 10px
      .comment
        margin-top 14px
        &first-child
          margin-top 0px