<div class="bs-bucket-chooser dropdown" ng-mouseenter="onMouseEnter()" ng-mouseleave="onMouseLeave()" ng-click="onClick()">
  <i class="fa fa-bitbucket cursor-pointer bs-bucket-chooser-icon"></i>
  <div class="selected-buckets">
    <span class="label label-{{labelTypes[labelTypes.length - 1]}} cursor-pointer">Main Bucket</span>
    <div class="display-inline" ng-repeat="bucket in buckets | filter:{isSelected: true}">
      <span class="label label-{{labelTypes[$index % labelTypes.length]}} cursor-pointer"
            ng-click="bucket.selected(false)">{{bucket.name}} &times;</span>
    </div>
    <ul class="dropdown-menu" ng-class="{'open': menuOpen}" ng-click="noBubbles($event)">
      <li class="dropdown-text-field search-item">
        <input type="search" ng-model="search" class="form-control" role="search" ng-keydown="toggleFirstBucket($event, search)" bs-autofocus="menuOpen" refocus="true" placeholder="Filter">
        <i class="fa fa-plus-circle" ng-click="createBucket()" tooltip="Create new bucket" tooltip-placement="left"></i>
      </li>
      <li role="presentation" class="divider"></li>
      <li ng-repeat="bucket in nonMainBuckets() | filter:search" ng-click="toggleBucket(bucket)">
        <a><i class="fa fa-{{bucket.selected() ? 'check-' : ''}}circle-o"></i> {{bucket.name}}</a>
      </li>
    </ul>
  </div>
</div>