<div class="profile-content margin-xlarge">
  <button class="btn btn-default" ng-click="editProfilePicture=!editProfilePicture">Edit Profile Picture</button>
  <div ng-show="editProfilePicture">
    <input type="text" ng-model="photoName" class="form-control">
    <form name="profilePicturePhoto" role="form">
      <div ng-file-drop-available="dropSupported=true"
           ng-show="dropSupported"
           ng-file-drop="onFileSelect($files)"
           ng-file-drag-over-class="file-hovering"
           class="drag-drop-area">
        <div ng-hide="uploadInProgress">
          <div>
            Drag and drop
          </div>
          <button class="choose-file-button btn btn-primary btn-file">
            Choose Picture
            <input type="file" name="upload" ng-file-select="onFileSelect($files)">
          </button>
        </div>
        <div ng-show="uploadInProgress">
          <div>
            Upload in progress...
          </div>
          <button ng-click="upload.abort()" class="btn btn-warning">Cancel Upload</button>
        </div>
      </div>
    </form>
  </div>
</div>
