<div class="profile-content">
  <div class="column-wrapper">
    <div class="col-xs-4 text-left">
      <h2>Buckets</h2>
      <div ng-repeat="bucket in buckets">
        <a ui-sref="home.postStreamPage.bucket({username: profileUser.username, type: 'bucket', itemName: bucket.name})">
          {{bucket.name}}
        </a>
      </div>
    </div>
    <div class="col-xs-4 text-center">
      <div class="profile-picture">
        <bs-profile-picture-upload ng-if="profileUser._id === currentUser._id"></bs-profile-picture-upload>
        <div ng-if="profileUser._id !== currentUser._id" class="center-block">
          <bs-profile-picture user="profileUser" class="user-photo" size="160" hide-hover="true"></bs-profile-picture>
        </div>
      </div>
    </div>
    <div class="col-xs-4 text-right">
      <h2>Streams</h2>
      <div ng-repeat="stream in streams">
        <a ui-sref="home.postStreamPage.stream({username: profileUser.username, type: 'stream', itemName: stream.name})">
          {{stream.name}}
        </a>
      </div>
    </div>
  </div>
    <div class="clearfix margin-medium"></div>
    <div bs-post-stream="mainBucketData.posts"></div>
  </div>
</div>
