<div class="profile-content">
  <div class="column-wrapper">
    <div class="col-xs-4 text-left">
      <h2>Buckets</h2>
      <div ng-repeat="bucket in buckets">
        {{bucket.name}}
      </div>
    </div>
    <div class="col-xs-4 text-center">
      <div class="profile-picture center-block" ng-mouseenter="showChangePhoto=true" ng-mouseleave="showChangePhoto=false">
        <img class="user-photo img-circle" ng-src="{{currentUser.getProfilePicture()}}">
        <div class="change-photo" ng-class="{visible: showChangePhoto}"
            ng-file-drop-available="dropSupported=true"
            ng-file-drop="onFileSelect($files)"
            ng-file-drage-over-class="file-hovering">
          <i class="fa fa-camera btn-file">
            <input type="file" name="upload" ng-file-select="onFileSelect($files)">
          </i>
        </div>
      </div>
    </div>
    <div class="col-xs-4 text-right">
      <h2>Streams</h2>
      <div ng-repeat="stream in streams">
        {{stream.name}}
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <button class="btn btn-default" ng-click="editProfilePicture=!editProfilePicture">Edit Profile Picture</button>
  <div>
    <input type="text" ng-model="photoName" class="form-control">
    <form name="profilePicturePhoto" role="form">
      <div ng-file-drop-available="dropSupported=true"
           ng-show="dropSupported"
           ng-file-drop="onFileSelect($files)"
           ng-file-drag-over-class="file-hovering"
           class="drag-drop-area">
        <div ng-hide="uploadInProgress">
          <div>
            Drag and drop
          </div>
          <button class="choose-file-button btn btn-primary btn-file">
            Choose Picture
            <input type="file" name="upload" ng-file-select="onFileSelect($files)">
          </button>
        </div>
        <div ng-show="uploadInProgress">
          <div>
            Upload in progress...
          </div>
          <button ng-click="upload.abort()" class="btn btn-warning">Cancel Upload</button>
        </div>
      </div>
    </form>
  </div>
</div>
