<div class="profile-content">
  <div class="column-wrapper">
    <div class="col-xs-4 text-left">
      <h2>Buckets</h2>
      <div ng-repeat="bucket in buckets">
        {{bucket.name}}
      </div>
    </div>
    <div class="col-xs-4 text-center">
      <div class="profile-picture">
        <bs-profile-picture-upload ng-if="profileUser._id === currentUser._id"></bs-profile-picture-upload>
        <div ng-if="profileUser._id !== currentUser._id" class="center-block">
          <img class="user-photo img-circle" ng-src="{{profileUser.getProfilePicture()}}">
        </div>
      </div>
    </div>
    <div class="col-xs-4 text-right">
      <h2>Streams</h2>
      <div ng-repeat="stream in streams">
        {{stream.name}}
      </div>
    </div>
  </div>
    <div class="clearfix margin-medium"></div>
    <div bs-post-stream="mainBucketData.posts"></div>
  </div>
</div>
