<div class="bucket-stream-page clearfix margin-medium">
  <div class="column-wrapper clearfix">
    <div class="bucket-stream-info col-xs-6">
      <div class="pull-right">
        <bs-profile-picture user="owner" class="owner-profile"></bs-profile-picture>
        <div class="bucket-stream-details">
          <div class="hover-parent-2">
            <i ng-show="!thing.isMain" class="fa fa-edit edit-thing pull-right hover-only-2" ng-click="editThing()" ng-if="currentUserIsOwner"></i>
            <h1 class="margin-top-0" fa-icon="{{isStream ? 'smile-o' : 'bitbucket'}}"> {{thing.name}}</h1>
            <div ng-if="!thing.isMain">{{thing.description}}</div>
            <div ng-if="thing.isMain && !isStream && !currentUserIsOwner">This is a collection of all of {{owner.getDisplayName()}}'s posts you can see.</div>
            <div ng-if="thing.isMain && isStream && !currentUserIsOwner">This is a collection of all of {{owner.getDisplayName()}}'s subscriptions you can see.</div>
            <div ng-if="thing.isMain && !isStream && currentUserIsOwner">This is a collection of all of your posts.</div>
            <div ng-if="thing.isMain && isStream && currentUserIsOwner">This is a collection of all of your subscriptions.</div>
          </div>
          <div class="auth-only">
            <div class="subscription-chooser-wrapper">
              <bs-bucket-stream-chooser streams="streams" bucket="bucket" stream="stream"></bs-bucket-stream-chooser>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6" ng-if="currentUserIsOwner && !isStream">
      <div class="new-post-container pull-left">
        <bs-new-post user="currentUser" buckets="userBuckets"></bs-new-post>
      </div>
    </div>
    <div class="subscriptions col-xs-6" ng-if="isStream">
      <div class="pull-left">
        <strong>Subscriptions:</strong>
        <div ng-hide="subscriptionGroups[0].list.length || subscriptionGroups[1].list.length">
          This stream has no subscriptions!<br />
          <span ng-show="thing.isMain">But this is a "{{thing.name}}" so it automatically has everything you'd find in all of {{owner.getDisplayName()}}'s {{type}}s.</span>
          <span ng-hide="thing.isMain">No wonder there aren't any posts here!</span>
        </div>
        <div ng-repeat="group in subscriptionGroups" ng-if="group.list.length">
          <strong fa-icon="{{group.icon}}"> {{group.name}}</strong>
          <ul>
            <li ng-repeat="item in group.list">
              <a ui-sref="root.postStreamPage.bucket({username: item.getOwner().username, type: group.type, itemName: item.name})">{{item.name}}</a>
              by
              <a ui-sref="root.userPage({username: item.getOwner().username})">{{item.getOwner().getDisplayName()}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div bs-post-stream="postsAndShares" on-share="onShare(post)"></div>
</div>