<div class="profile-content">
  <div class="column-wrapper">
    <div class="col-xs-3 text-left">
      <h2>Buckets</h2>
      <div ng-repeat="bucket in buckets">
        <a ui-sref="root.postStreamPage({username: profileUser.username, type: 'bucket', itemName: bucket.name})">
          {{bucket.name}}
        </a>
      </div>
    </div>
    <div class="col-xs-6 center-content">
      <div class="user-info">
        <h1>{{displayName}}</h1>
        <div class="tagline" ng-if="profileUser.tagline">
          <strong>Tagline:</strong> {{profileUser.tagline}}
        </div>
      </div>
      <div class="profile-picture">
        <bs-profile-picture-upload ng-if="profileUser._id === currentUser._id"></bs-profile-picture-upload>
        <div ng-if="profileUser._id !== currentUser._id" class="center-block user-profile-photo">
          <bs-profile-picture user="profileUser" class="user-photo" size="160" hide-hover="true"></bs-profile-picture>
        </div>
      </div>
      <h2 class="bucket-label">Main Bucket</h2>
      <div bs-post-stream="postsAndShares" author-to-show="{{profileUser._id}}"></div>
    </div>
    <div class="col-xs-3 text-right">
      <h2>Streams</h2>
      <div ng-repeat="stream in streams">
        <a ui-sref="root.postStreamPage({username: profileUser.username, type: 'stream', itemName: stream.name})">
          {{stream.name}}
        </a>
      </div>
    </div>
  </div>
</div>
