.bs-bucket-stream-chooser
  .bs-bucket-stream-chooser-icon
    font-size 1.4em
  .selected-things
    display inline
    position absolute
    left 20px
    .label
      margin .2em
  .dropdown-menu
    overflow-y scroll
    max-height 160px
    max-width 300px
    min-width 240px
    overflow-x hidden
    opacity 0
    transition opacity 0.3s, z-index 0s 0.3s
    display block
    z-index -1
    &.open
      transition opacity 0.3s, z-index 0s
      opacity 1
      z-index 999
    .dropdown-text-field
      padding 6px 16px 0px 16px
      input
        display inline
        width 86%
        height 28px
    .dropdown-text-field, .add-item-line
      i
        display inline
        margin-left 10px