.bs-bucket-chooser
  .bs-bucket-chooser-icon
    font-size 1.4em
  .selected-buckets
    display inline
    position absolute
    left 20px
    .label
      margin .2em
  .dropdown-menu
    max-height 160px
    overflow-y scroll
    width 240px
    overflow-x hidden
    opacity 0
    transition all 0.3s
    display block
    z-index -1
    &.open
      opacity 1
      z-index 999
    .dropdown-text-field
      padding 6px 16px 0px 16px
      i
        display inline
        margin-left 10px
      input
        display inline
        height 28px
        width 86%