@import 'nib'

speed = 0.3s

.bs-menu-wrapper
  height 100%
  position relative
  overflow hidden
  .bs-menu-opener
    color bsOffWhite
    height 40px
    .bs-menu-opener-icon
      font-size 24px
      padding 2px
  .bs-menu-options-wrapper
    width 60px
    position fixed
    overflow hidden
    bottom 0
    left 0
    top 40px
    z-index 1000
    transform translateX(-60px)
    transition transform speed, width speed

    &.large-options,
    &.small-options
      transform translateX(0px)

    &.small-options
      .hide-on-small
        display none

    &.large-options
      width 340px

    &.sub-menu-open
      .bs-menu-scroll-hider
        background-color bsBlue0
        transition background-color 0s linear speed !important

        .bs-menu-options
          transform translateX(40px)
          .option-link
            i
              padding-right 0px
              transform translateX(250px)
              transition transform speed * 1.4
    .bs-menu-scroll-hider-wrapper
      overflow hidden

      .bs-menu-scroll-hider
        position absolute
        overflow-y scroll
        width 370px
        height 100%
        transition background-color 0s linear 0s
        .bs-menu-options
          width 300px
          transition transform speed
          color bsOffWhite
          font-size 1.6em
          height 100%
          background-color bsBlue0
          ul
            list-style none
            padding-left 0
            margin 0
            li
              cursor pointer
              padding 0px 24px
              line-height 3.4
              color bsOffWhite
              background-color bsBlue0
              a
                text-decoration none
                cursor pointer
                i
                  transition transform speed * 1.4
                  background-color transparent !important
                span
                  padding-left 24px
              &.menu-option
                *
                  background-color bsBlue0
                  color bsOffWhite
                &:hover
                  color bsBlue0
                  background-color bsOffWhite
                  *
                    color bsBlue0
                    background-color bsOffWhite


          &.bs-sub-menu
            width 300px
            font-size 1.2em
            bottom 0
            top 0
            left 0
            position absolute
            transform translateX(-300px)
            transition transform speed * 1.35
            background-color bsBlue0

            &.show
              transform translateX(0px)

            .menu-options
              width 300px
              height 100%
              i
                padding-right 12px
              .sub-menu-context
                font-size 1.4em
                padding-top 16px
                padding-bottom 16px
                line-height 1
                background-color rgba(0, 0, 0, .15)
                &:hover
                  background-color rgba(0, 0, 0, .35)
                .selected-icon
                  padding-right 6px
                .back-icon
                  color #999