#anon-page
  .content-wrapper
    width 480px
    margin-top 40px
    #front-page-forms
      width 350px

    .logo-container
      width 480px
      & > img
        width 400px
        display inline
      & > small
        vertical-align top
  .youtube-video-container
    margin-top 50px
    width 640px