#front-page-container

  .top-content
    min-height 100%
    height auto
    margin -20px auto -20px
    padding 20px 0 20px 0

    .top-bar
      height 76px

    .form-flow
      width 400px
      margin-top 40px
      margin-bottom 100px

    .logo-container
      width 800px

    .logo-container > img
      width 800px

  .footer-container
    width 100%
    background-color bsBrown0
    height 40px

  .footer-container > div
    margin-top 10px