#main-container
  &.authenticated
    .top-bar
      height 40px
      .bs-logo
        max-height 36px
        padding 2px
    .main-content
      margin-top 40px
    .auth-only
      display inherit
  .top-bar
    height 70px
    position fixed
    z-index 1000
    top 0

    .search-container
      .logo-container
        text-align center
        .bs-logo
          max-height 60px

  .main-content
    margin-top 70px
  .auth-only
    display none