@import "nib"

speed = 0.3s

.bs-menu-wrapper
  height 100%
  position relative
  overflow hidden
  .bs-menu-opener
    color bsOffWhite
    height 40px
    .bs-menu-opener-icon
      font-size 24px
      padding 2px
  .bs-menu-options-wrapper
    width 60px
    position fixed
    bottom 0
    left 0
    top 40px
    z-index 1000
    transform translateX(-60px)
    transition transform speed, width speed
    overflow-y scroll

    &.large-options,
    &.small-options
      transform translateX(0px)

    &.small-options
      .hide-on-small
        display none

    &.large-options
      width 300px

    .bs-menu-options
      color bsOffWhite
      background-color bsBlue0
      font-size 1.6em
      height 100%

      a
        color bsOffWhite
        text-decoration none
        cursor pointer

      ul
        list-style none
        padding-left 0px
      li
        cursor pointer
        padding 0px 24px
        line-height 3.4
        background-color bsBlue0
        color bsOffWhite

    .bs-main-menu
      width 300px


    .bs-sub-menu
      width 300px
      font-size 1.2em
      bottom 0
      top 0
      left 0
      position fixed
      transform translateX(-300px)
      transition transform speed * 1.35

      &.show
        transform translateX(0px)

      .menu-options
        width 260px
        height 100%
        float left
        .sub-menu-context
          cursor auto
          font-size .9em
          padding-top 16px
          padding-bottom 16px
          line-height 1
          text-align center
          i
            padding-right 6px

      .back-icon
        color #999
        width 40px
        padding 10px
        height 100%
        text-align center
        float right
        cursor pointer
        background-color rgba(0, 0, 0, .15)
