.post
  width 400px

  .post-meta
    height 80px
    .post-author-photo
      max-height 64px
      max-width 64px
    .post-info
      padding-left 72px

  .post-content
    textarea
      height 74px
      resize vertical
  .panel-footer
      height 40px
      border-bottom solid 1px #DDD
    .share-post
      border-bottom-left-radius initial
      border-bottom-right-radius initial
    & .mode-create
      padding 6px 15px 6px 6px
    .create-footer
      .create-post-icons
        margin-top 4px
      .post-button
        width 60px
        padding 3px

  .comments
    padding 10px
    .add-comment
      img.add-comment-photo
        max-height 32px
        max-width 32px
        @extend .margin-right-xsmall
      .add-comment-field
        padding-left 46px
        width 100%
    .comment
      @extend .margin-top-small
    img.comment-photo
      max-height 32px
      max-width 32px
      @extend .margin-right-xsmall
    .comment-info
      padding-left 46px
