.profile-photo-chooser
  .provider-button
    font-size 2em
    margin-left 12px
    margin-right 12px
  .upload-file
    background-color bsBlue0
    color white
    &:hover
      color bsBlue0
      background-color #FFF