<div id="main-container" class="height-100">
  <div class="top-bar">
    <div class="col-xs-4 text-left">
      <a href="/"><img src="/images/logo-small.png" class="bs-logo"></a>
    </div>
    <div class="col-xs-4 text-center margin-top-xxsmall">
      <strong class="color-white font-size-xxsmall-2x">{{context}}</strong>
    </div>
    <div class="col-xs-4 text-right">
      <div class="dropdown margin-xxsmall">
        <a class="dropdown-toggle color-white cursor-pointer text-decoration-none">
          <span class="margin-right-xxsmall">{{currentUser.getDisplayName()}}</span>
          <img class="user-photo img-circle" ng-src="{{currentUser.getProfilePicture()}}">
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a ui-sref="home.gettingStarted">Getting Started</a>
            <a ui-sref="home.userPage({username: currentUser.username})">Profile</a>
            <a ng-click="signOut()">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="center-block" ui-view>
    <div id="post-field">
      <div bs-new-post on-post-click="makePost(content)"></div>
    </div>
    <div class="stream">
      This is the stream: {{mainStream.name}}
      <div>
        <div ng-repeat="post in posts" bs-post="post" on-removed="removePost(post)"></div>
      </div>
    </div>
  </div>
</div>