<div id="main-container">

  <div class="top-bar">
    <div class="col-xs-4 text-left">
      <div class="position-absolute">
        <div bs-menu="menuItems"></div>
      </div>
      <a ui-sref="home" ng-click="resetContext()" class="margin-left-xxlarge">
        <img src="/images/logo-small.png" class="bs-logo display-inline">
      </a>
    </div>
    <div class="col-xs-4 text-center margin-top-xxsmall">
      <strong class="color-white font-size-xxsmall-2x"><i class="fa fa-{{context.icon}}"></i> {{context.name}}</strong>
    </div>
    <div class="col-xs-4 text-right">
      <div class="dropdown margin-xxsmall">
        <a class="dropdown-toggle color-white cursor-pointer text-decoration-none">
          <span class="margin-right-xxsmall">{{currentUser.getDisplayName()}}</span>
          <bs-profile-picture user="currentUser" class="user-photo" size="26" hide-hover="true"></bs-profile-picture>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a ui-sref="home.userPage({username: currentUser.username})">Profile</a>
            <a ng-click="currentUser.logout()">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="center-block clearfix" ui-view>
      <div id="post-field">
        <bs-new-post user="currentUser" buckets="userBuckets"></bs-new-post>
      </div>
      <div bs-post-stream="mainBucketData.posts"></div>
    </div>
  </div>

  <div ux-lamp lamp-visible="lampVisible" rub-class="visible" wish-callback="wishMade(wish)" firebase="http://bucketstreams.firebaseio.com/genie/{{currentUser._id}}"></div>
</div>