<div class="bs-bucket-stream-chooser dropdown">
  <i class="fa fa-{{icon}} cursor-pointer bs-bucket-stream-chooser-icon" ng-mouseenter="onMouseEnter()" ng-mouseleave="onMouseLeave()" ng-click="onClick()"></i>
  <div class="selected-things">
    <div class="display-inline" ng-show="showMain">
      <span class="label label-{{labelTypes[0]}} cursor-pointer" tooltip="Posts go here automatically">Main {{listType | bsCapitalizeWords}}</span>
    </div>
    <span ng-hide="thingsSelected" class="cursor-pointer text-muted" ng-mouseenter="onMouseEnter()" ng-mouseleave="onMouseLeave()" ng-click="onClick()">{{noThingSelectedText}}</span>
    <div class="display-inline" ng-repeat="thing in listItems | filter:{isSelected: true}" ng-mouseenter="onMouseEnter()" ng-mouseleave="onMouseLeave()" ng-click="onClick()">
      <span class="label label-{{labelTypes[($index + 1) % labelTypes.length]}} cursor-pointer"
            ng-click="toggleThing(thing)">{{thing.name}} &times;</span>
    </div>
    <ul class="dropdown-menu" ng-class="{'open': menuOpen}" ng-click="noBubbles($event)" ng-mouseenter="onMouseEnter()" ng-mouseleave="onMouseLeave()" ng-click="onClick()">
      <li ng-hide="listItems.length > 1">
        <a class="add-item-line">
          You have no {{listType}}s...
          <i class="fa fa-plus-circle" ng-click="createThing()" tooltip="Create new {{listType === 'bucket' ? 'bucket' : 'stream'}}" tooltip-placement="left"></i>
        </a>
      </li>
      <li ng-show="listItems.length > 1" class="dropdown-text-field search-item">
        <input type="search" ng-model="search" class="form-control" role="search" ng-keydown="toggleFirstThing($event, search)" bs-autofocus="menuOpen" refocus="true" placeholder="Filter {{listType}}s">
        <i class="fa fa-plus-circle" ng-click="createThing()" tooltip="Create new {{listType}}" tooltip-placement="left"></i>
      </li>
      <li ng-show="listItems.length > 1" role="presentation" class="divider"></li>
      <li ng-repeat="thing in applicableThings() | filter:search" ng-click="toggleThing(thing)">
        <a><i class="fa fa-{{thing.selected() ? 'check-' : ''}}circle-o"></i> {{thing.name}}</a>
      </li>
    </ul>
  </div>
</div>