<div class="post panel panel-default">
  <div class="post-meta panel-heading">
    <bs-profile-picture user="author" class="post-author-photo" size="50"></bs-profile-picture>
    <div class="post-info">
      <div class="post-options auth-only" ng-if="!postOnly">
        <a ng-click="sharePost(post)" fa-icon="share"> {{post.shares.length || ''}}</a>
        <a ng-click="toggleFavorite()" fa-icon="star" ng-class="{'is-favorite': currentUserHasFavorited}"> {{post.favorites.length || ''}}</a>
        <span class="dropdown">
          <a class="dropdown-toggle">
            <i class="fa fa-cog"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li><a ng-if="isOwner" fa-icon="edit" ng-click="edit()"> Edit</a></li>
            <li><a ng-if="isOwner" fa-icon="trash-o color-red" ng-click="removePost()"> Delete</a></li>
            <li><a ng-if="!isOwner">There aren't any options here for you... Yet...</a></li>
          </ul>
        </span>
      </div>
      <div>
        <a ng-href="/{{author.username}}">
          <strong class="post-author-name">{{authorDisplayName}}</strong>
        </a>
        <div>
          <small>
            <a ng-href="/post/{{post._id}}">{{post.created | date:'short'}}</a>
            <span class="margin-left-xxsmall" bs-bucket-list="postBucketList" max-chars="40"></span>
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="post-content panel-body">
    <div class="post-content-shared" ng-if="isShare && !postOnly">
      <bs-profile-picture user="shareAuthor" class="post-author-photo" size="30"></bs-profile-picture>
      <small class="share-info">
        <span class="text-muted">
          <a ng-href="/{{shareAuthor.username}}">{{shareAuthorDisplayName}}</a> - {{share.created | date:'short'}}
        </span>
        <span class="display-block" bs-bucket-list="shareBucketList" max-chars="40"></span>
      </small>
    </div>
    <div ng-hide="editing" ng-class="{'font-size-xsmall': isShare}">
      <i ng-show="post.sourceData.source && !isShare" class="source-icon fa fa-{{post.sourceData.source}} color-{{post.sourceData.source}}" tooltip="Posted on {{post.sourceData.source}}"></i>
      {{mainContent}}
    </div>
    <div ng-show="editing">
      <textarea ng-model="newContent" class="form-control"></textarea>
      <div class="edit-buttons">
        <button class="btn btn-default btn-xs pull-left" ng-click="editing=false">Cancel</button>
        <button class="btn btn-primary btn-xs pull-right" ng-click="updatePostContent(newContent)">Save</button>
      </div>
    </div>
    <div ng-if="isShare" class="original-post">
      <div>
        <i ng-show="post.sourceData.source" class="source-icon fa fa-{{post.sourceData.source}} color-{{post.sourceData.source}}" tooltip="Posted on {{post.sourceData.source}}"></i>
        {{post.content.textString}}
      </div>
    </div>
  </div>
  <div class="comments-container" ng-show="(currentUser || comments.length) && !postOnly">
    <div class="add-comment auth-only">
      <div class="add-comment-field">
        <bs-profile-picture user="currentUser" class="add-comment-photo" size="32"></bs-profile-picture>
        <input class="form-control" type="text" placeholder="Add comment..." ng-model="commentToAdd" ng-keydown="addComment($event)">
      </div>
    </div>
    <div class="comment-container" bs-scroll-bottom="scrollComments">
      <div ng-repeat="comment in comments" bs-comment="comment" on-delete-clicked="deleteComment(comment)"></div>
    </div>
  </div>
</div>