<div class="height-100 margin-xxlarge">
  <p>This is where you can test out the different components. Give it a shot!</p>
  <div class="center-block padding-xxlarge">
    <div>
      <h1 ng-click="show.spinners = !show.spinners">Spinners</h1>
        <div ng-show="show.spinners" style="width:400px">
          <bs-spinner></bs-spinner>
          <hr />
          <div bs-spinner size="small" spinner-text="Small..."></div>
          <hr />
          <div bs-spinner size="medium" spinner-text="Medium..."></div>
          <hr />
          <div bs-spinner size="large" spinner-text="Large top..." text-position="top"></div>
          <hr />
          <div bs-spinner size="large" spinner-text="Large bottom..." text-position="bottom"></div>
          <hr />
          <button class="btn btn-default btn-sm margin-right-small display-inline" ng-click="spinners.blink.visible=!spinners.blink.visible">Toggle Spinner</button>
          <div bs-spinner="spinners.blink.visible" class="position-absolute display-inline"></div>
      </div>
    </div>

    <hr />

    <div>
      <h1 ng-click="show.streams = !show.streams">Streams</h1>
      <div ng-show="show.streams">
        <button class="btn btn-default" ng-click="debug()">Debug</button>
        <div id="stream-preview">
          <div bs-stream="stream" current-user="user"></div>
        </div>
      </div>
    </div>

    <hr />

    <div>
      <h1 ng-click="show.posts = !show.posts">Posts</h1>
      <div ng-show="show.posts">
        <h2>Create New Post</h2>
        <div id="create-post-preview">
          <div bs-post="newPost" current-user="user" mode="create"></div>
        </div>

        <h2>View Post & Comments</h2>
        <div id="post-preview">
          <div bs-post="post" current-user="user"></div>
        </div>
      </div>
    </div>

    <hr />

  </div>
</div>