.bs-post-stream-wrapper
  .column-wrapper
    .post-column
      float left
      position relative
      min-height 1px
      padding 0 15px 0 15px
    &.columns-1
      .post-column
        width 100%

    &.columns-2
      .post-column
        width 50%

    &.columns-3
      .post-column
        width 33.3333%
