.bs-post-stream-wrapper
  width 600px
  .column-wrapper
    .post-column
      position relative
      min-height 1px
      padding 0 20px 0 20px
      width 100%
      margin-top 50px
      /*
      .stream-posts
        .post.ng-move,
        .post.ng-enter,
        .post.ng-leave
          transition all linear 0.5s

        .post.ng-leave.ng-leave-active,
        .post.ng-move,
        .post.ng-enter
          opacity 0
          max-height 0

        .post.ng-leave,
        .post.ng-move.ng-move-active,
        .post.ng-enter.ng-enter-active
          opacity 1
          max-height 500px
                */