.bucket-stream-page
  .bucket-stream-info
    .owner-profile
      margin-right 20px
      float left
    .bucket-stream-details
      float left
      display inline
      max-width 380px
    i.edit-thing
      float left
      vertical-align top
      margin-right 10px
      cursor pointer
      font-size 18px
    .subscriptions
      float left
      margin-left 16px