.top-bar
  .search-container
    #global-search
      border-radius 4px
      color #333
      background-color #F7F7F7
      width 100%
      .input-container
        width 100%
      .input-group-addon
        font-size 16px
        width 30px
        padding 2px
        &.right
          border-top-right-radius 4px
          border-bottom-right-radius 4px
        &.left
          border-top-left-radius 4px
          border-bottom-left-radius 4px
      .global-search-input
        height 24px
        font-size 12px
        &.no-icon
          border-bottom-left-radius 4px
          border-top-left-radius 4px

      .lamp-wishes-container
        padding 6px
        box-shadow 0 0 6px 1px #444
        max-height 200px
        width 100%
        cursor pointer
        overflow-y auto
        border-bottom-right-radius 4px
        border-bottom-left-radius 4px

        .wish-icon
          margin-right 10px
          .wish-img-icon
            height 28px
            vertical-align text-top
          .wish-i-icon
            height 16px


        .lamp-wish
          padding 2px 12px
          font-size 24px
          &.focused
            border-radius 4px
            background-color #DDD
            
  .user-options
    margin-top 6px
    .new-post-button
      margin-right 16px
      button
        line-height 1
.main-content
  margin-top 40px
  padding 20px 40px
    
  /* login animation */
  &.ng-enter, &.ng-leave
    transition opacity 0.5s, transform 0.5s
    background-color: blue

  &.ng-enter
    opacity 0
    transform translateY(100px)
    background-color: red
  
  &.ng-enter-active
    opacity 1
    transform translateY(0px)
    background-color: green
  
  &.ng-leave
    opacity 1
    transform translateY(0px)
    background-color: orange
  
  &.ng-leave-active
    opacity 0
    transform translateY(100px)
    background-color: black
