profilePictureSize = 160px
.profile-content
  .center-content
    margin-bottom 74px
    .user-info
      text-align center
    .profile-picture
      margin-top 20px
      .user-profile-photo
        width profilePictureSize
        height profilePictureSize
    .bucket-label
      text-align center
      margin-top 50px
      margin-bottom 0