profilePictureSize = 160px
.profile-content
  .center-content
    margin-bottom 74px
    .user-profile-photo
      width profilePictureSize
      height profilePictureSize
    .drag-drop-area
      border dotted #666 2px
      margin 6px
      padding 60px 0px
      text-align center
      font-size 30px
      background-color #E0E0E0
      color #666

      &.file-hovering
        background-color #eeeeee
        color #2b2b2b
        .choose-file-button
          visibility hidden
    .tagline
      margin-top 20px
      text-align center


  .btn-file
    position relative
    overflow hidden

  .btn-file input[type=file]
    position absolute
    top 0
    right 0
    min-width 100%
    min-height 100%
    font-size 999px
    text-align right
    opacity 0
    outline none
    background white
    cursor inherit
    display block