profilePictureSize = 160px
.profile-content
  .column-wrapper
    .profile-picture
      cursor pointer
      max-width profilePictureSize
      max-height profilePictureSize
      img
        max-width profilePictureSize
        max-height profilePictureSize
      .change-photo
        cursor pointer
        position absolute
        font-size 2.2em
        top 50%
        left 50%
        margin-top -38px
        margin-left -38px
        color #FFF
        background-color rgba(0, 0, 0, 0.5)
        padding 16px
        border-radius 50%
        width 76px
        height 76px
        opacity 0
        transition opacity 0.2s linear
        &.visible
          opacity 1
        i
          padding-top 8px

  .drag-drop-area
    border dotted #666 2px
    margin 6px
    padding 60px 0px
    text-align center
    font-size 30px
    background-color #E0E0E0
    color #666

    &.file-hovering
      background-color #eeeeee
      color #2b2b2b
      .choose-file-button
        visibility hidden


  .btn-file
    position relative
    overflow hidden

  .btn-file input[type=file]
    position absolute
    top 0
    right 0
    min-width 100%
    min-height 100%
    font-size 999px
    text-align right
    opacity 0
    outline none
    background white
    cursor inherit
    display block