<div class="getting-started-container modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()">&times;</button>
    <h4 class="modal-title">Welcome to Bucket Streams!</h4>
  </div>
  <div class="modal-body">
    <div ng-hide="currentUser.username">
      First thing's first! What would you like your username to be?
      <form name="usernameForm" role="form">
        <div class="form-group">
          <label for="username-field">Username</label>
          <input ng-pattern="/^([a-zA-Z]|_|\d){2,12}$/" class="form-control" ng-model="tempUsername" ng-change="checkUniqueUsername(tempUsername)" id="username-field" placeholder="awesome" autofocus>
        </div>
      </form>
    </div>
    <div ng-show="currentUser.username">
      Here's what's left to setup:
      <accordion close-others="true">
        <accordion-group ng-repeat="field in fieldsToFill">
          <accordion-heading>
            <div class="cursor-pointer" ng-class="{'text-muted': field.dontRemind}">
              <i ng-if="field.filledIn" class="fa fa-check-circle color-green"></i>
              <span>{{field.displayName}}</span>
              <small class="pull-right cursor-pointer" ng-click="dontRemind($event, field)">
                Don't remind me
                <i class="fa" ng-class="{'fa-check-circle': field.dontRemind, 'fa-circle': !field.dontRemind}"></i>
              </small>
            </div>
          </accordion-heading>
          <div ng-include="'/main/getting-started/partials/' + field.formName + '.html'"></div>
        </accordion-group>
      </accordion>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="dismiss()">Remind Me Later</button>
  </div>
</div>