<div id="sign-up-form" class="center">
  <img src="../images/logo-small.png">
  <h1>Prepare yourself...</h1>
  <form role="form">
    <div class="form-group">
      <label class="sr-only" for="signup-email">Email address</label>
      <input type="email" class="form-control" id="signup-email" placeholder="Email" autofocus="true">
    </div>
    <div class="form-group">
      <label class="sr-only" for="signup-username">Username</label>
      <input type="email" class="form-control" id="signup-username" placeholder="Username">
    </div>
    <div class="form-group">
      <label class="sr-only" for="signup-password1">Password</label>
      <input type="password" class="form-control" id="signup-password1" placeholder="Password">
    </div>
    <div class="form-group">
      <label class="sr-only" for="signup-password2">Password (again)</label>
      <input type="password" class="form-control" id="signup-password2" placeholder="Password (again)">
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>
