<div>
  <div id="centered-container" class="container">
    <div id="logo-container" class="col-md-6">
      <img src="/images/logo.png">
    </div>
    <div id="login-container" class="col-md-6">
      <div id="login-or-sign-up" class="container">
        <div class="login">
          <h1>Login</h1>
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="login-username">Username or Email address</label>
              <input type="text" class="form-control" id="login-username" placeholder="Username or Email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="login-password">Password</label>
              <input type="password" class="form-control" id="login-password" placeholder="Password">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
        </div>
        <div class="sign-up">
          <div><strong>New to Bucket Streams?</strong> <small>Sign up</small></div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-container" class="container">
    <div class="container">
      <div class="col-md-6">
        <a href="http://eepurl.com/Lflln">Click here</a> to sign up for updates.
      </div>
      <div class="col-md-6">
        <p>For more information, email us at: <a href="mailto:info@bucketstreams.com">info@bucketstreams.com</a></p>
      </div>
    </div>
  </div>
</div>