<div>
  <h1>Bucket Streams</h1>
  <h2>Coming Soon!</h2>
  <p>For more information, email us at: <a href="mailto:info@bucketstreams.com">info@bucketstreams.com</a></p>
  <div>
    <h2>Login:</h2>
    <form action="/login" method="POST">
      <div>
        <label for="login-username">Username</label>
        <input type="text" id="login-username" name="username" placeholder="Username">
      </div>

      <div>
        <label for="login-password">Password</label>
        <input type="password" id="login-password" name="password" placeholder="Password">
      </div>

      <input type="submit">Login
    </form>
    <h2>Sign Up:</h2>
    <form action="/register" method="POST">
      <div>
        <label for="register-login">Username</label>
        <input type="text" id="register-login" name="username" placeholder="Username">
      </div>

      <div>
        <label for="register-password">Password</label>
        <input type="password" id="register-password" name="password" placeholder="Password">
      </div>

      <input type="submit">Register
    </form>
  </div>
</div>
