<div>
  <h1>Bucket Streams</h1>
  <h2>Coming Soon!</h2>
  <p>For more information, email us at: <a href="mailto:info@bucketstreams.com">info@bucketstreams.com</a></p>
  <div>
    <h2>Login:</h2>
    <form action="/login" method="POST">
      <div id="login-username">
        <label for="everyauth.password.loginFormFieldName">Username</label>
        <input type="text" id="everyauth.password.loginFormFieldName" name="everyauth.password.loginFormFieldName">
      </div>
      <div id="login-password">
        <label for="everyauth.password.passwordFormFieldName">Password</label>
        <input type="text" id="everyauth.password.passwordFormFieldName" name="everyauth.password.passwordFormFieldName">
      </div>
      <div id="login-submit">
        <input type="submit">Login
      </div>
    </form>
    <h2>Sign Up:</h2>
    <form action="/register" method="POST">
      <div>
        <label for="register-login">Username</label>
        <input type="text" id="register-login" name="login">
      </div>
      <div>
        <label for="register-password">Password</label>
        <input type="text" id="register-password" name="password">
      </div>
      <div>
        <label for="register-phone">Phone</label>
        <input type="text" id="register-phone" name="phone">
      </div>
      <div id="register-submit">
        <input type="submit">Login
      </div>
    </form>
  </div>
</div>
