<div id="front-page-container" class="height-100">
  <div class="top-content">
    <div class="top-bar">
      <div class="sign-up-container col-xs-4 text-left">
        <h3 class="margin-left-xlarge color-white">
          See what you want
        </h3>
      </div>
      <div class="interest-game-container col-xs-4 text-center">
        <!--<h3>-->
          <!--<a class="color-white" ui-sref="frontPage.interestGame">Get Your Interest Score</a>-->
        <!--</h3>-->
      </div>
      <div class="login-container col-xs-4 text-right">
        <h3 class="margin-right-xlarge color-white">
          Share what you want
        </h3>
      </div>
    </div>

    <div id="center-content" class="center-block" ui-view>
      <img src="../images/logo-small.png">
      <div id="front-page-forms" class="center-block">

        <div ng-show="action === 'Login'">
          <form id="login-form" name="loginForm" role="form" ng-submit="login(username, loginPassword)" class="center-block">
            <div class="form-group">
              <label class="sr-only" for="login-email">Email or Username</label>
              <input type="text" ng-model="username" name="username" class="form-control" id="login-email" placeholder="Email or Username" bs-autofocus="focus === 'username'" ng-change="onLoginChange(username)">
            </div>
            <div class="form-group">
              <label class="sr-only" for="login-password">Password</label>
              <input type="password" class="form-control" ng-model="loginPassword" name="password" id="login-password" placeholder="Password" bs-autofocus="focus === 'login-password'" >
            </div>
            <div class="pull-left">
              <a class="text-muted cursor-pointer" ng-click="action = 'Sign Up'">New here?</a><br />
              <a class="text-muted cursor-pointer" ui-sref="frontPage.loginTrouble">Trouble?</a>
            </div>
            <div class="pull-right text-align-right">
              <button type="submit" class="btn btn-primary"><i class="fa fa-{{going ? 'spinner fa-spin' : 'lock'}}"></i> Login</button><br />
              <small class="checkbox cursor-pointer text-muted" ng-click="rememberMe=!rememberMe">
                <label>
                  Remember Me <i class="fa fa-{{rememberMe ? 'check-circle-o' : 'circle-o'}}"></i>
                </label>
              </small>
            </div>
          </form>
        </div>

        <div ng-show="action === 'Sign Up'">
          <form id="sign-up-form" name="signUpForm" role="form" ng-submit="signUp(email, signUpPassword)" class="center-block">
            <div class="form-group">
              <label class="sr-only" for="sign-up-email">Email</label>
              <input type="email" ng-model="email" name="email" class="form-control" id="sign-up-email" placeholder="Email" bs-autofocus="focus === 'email'" >
            </div>
            <div class="form-group">
              <label class="sr-only" for="sign-up-password">Password</label>
              <input type="password" class="form-control" ng-model="signUpPassword" name="password" id="sign-up-password" placeholder="Password" bs-autofocus="focus === 'signup-password'">
            </div>
            <a class="text-muted cursor-pointer" ng-click="action = 'Login'">Login instead</a>
            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-{{going ? 'spinner fa-spin' : 'lock'}}"></i> Join</button>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="footer-container container">
    <div>
      <div class="click col-md-6">
        <p class="color-white"><a class="color-white" href="http://eepurl.com/Lflln">Click here</a> to sign up for updates.</p>
      </div>
      <div class="col-md-6 text-right">
        <p class="color-white">For more information, email us at: <a class="color-white undecorated" href="mailto:info@bucketstreams.com">info@bucketstreams.com</a></p>
      </div>
    </div>
  </div>
</div>