<div id="front-page-container" class="height-100">
  <div class="top-content">
    <div class="top-bar">
      <div class="sign-up-container col-xs-4 text-left">
        <h3 class="margin-left-xlarge color-white">
          See what you want
        </h3>
      </div>
      <div class="interest-game-container col-xs-4 text-center">
        <!--<h3>-->
          <!--<a class="color-white" ui-sref="frontPage.interestGame">Get Your Interest Score</a>-->
        <!--</h3>-->
      </div>
      <div class="login-container col-xs-4 text-right">
        <h3 class="margin-right-xlarge color-white">
          Share what you want
        </h3>
      </div>
    </div>

    <div id="center-content" class="center-block">
      <img src="../images/logo-small.png">
      <div class="margin-top-small text-align-center">
        <div ng-hide="loggingIn || registering">
          <h1>Login or Sign Up</h1>
          <form id="login-form" name="loginForm" role="form" ng-submit="loginOrRegister(email, password)" class="margin-top-small center-block">
            <div class="form-group">
              <label class="sr-only" for="login-email">Email</label>
              <input type="text" ng-model="email" name="emailField" class="form-control" id="login-email" placeholder="Email" autofocus ng-change="onInputChange(email, loginForm.hiddenEmailField.$valid)">
            </div>
            <div class="form-group display-none">
              <label for="login-email-hidden">Hidden Email</label>
              <input type="email" ng-model="email" name="hiddenEmailField" id="login-email-hidden">
            </div>
            <div class="form-group">
              <label class="sr-only" for="sign-up-password">Password</label>
              <input type="password" class="form-control" ng-model="password" name="password" id="sign-up-password" placeholder="Password" ng-change="onInputChange(email, loginForm.hiddenEmailField.$valid)">
            </div>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="invalidInput" fa-icon="lock" icon-before> {{action}}</button>
          </form>
        </div>
        <div bs-spinner="loggingIn" size="large" spinner-text="Logging In..." text-position="top">
          <small ng-show="isValidEmail">Tip: You can login with your username as well...</small>
        </div>
        <div bs-spinner="registering" size="large" spinner-text="Signing Up..." text-position="top">
          <small>One moment please, while we get stuff setup for you...</small>
        </div>
      </div>
    </div>

  </div>
  <div class="footer-container container">
    <div>
      <div class="click col-md-6">
        <p class="color-white"><a class="color-white" href="http://eepurl.com/Lflln">Click here</a> to sign up for updates.</p>
      </div>
      <div class="col-md-6 text-right">
        <p class="color-white">For more information, email us at: <a class="color-white undecorated" href="mailto:info@bucketstreams.com">info@bucketstreams.com</a></p>
      </div>
    </div>
  </div>
</div>