<div class="center-block form-flow">
  <img src="../images/logo-small.png">
  <div id="email-sign-up" ng-hide="loggingIn">
    <h1>Login</h1>
    <form name="loginForm" role="form" ng-submit="login()">
      <div class="form-group" ng-class="{'has-error': showEmailError('username')}">
        <label class="sr-only" for="login-username">Username</label>
        <input type="text" ng-model="userInfo.username" name="username" class="form-control" id="login-username" placeholder="Username or Email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="sign-up-password">Password</label>
        <input type="password" class="form-control" ng-model="userInfo.password" id="sign-up-password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary pull-right" fa-icon="lock" icon-before>Login</button>
    </form>
  </div>

  <div bs-spinner="loggingIn" size="large" spinner-text="Logging In..." text-position="top" class="margin-top-xxlarge"></div>
</div>