<div class="center-block form-flow">
  <img src="../images/logo-small.png">

  <div id="registration-form" class="transition-all-medium" ng-hide="registering">
    <h1>Sign Up</h1>
    <div id="email-sign-up">
      <form name="signUpForm" role="form">
        <div class="form-group">
          <label class="sr-only" for="sign-up-email">Email address</label>
          <input type="email" ng-model="userInfo.email" name="email" class="form-control" id="sign-up-email" placeholder="Email" required="true" autofocus>
        </div>
        <div class="form-group">
          <label class="sr-only" for="sign-up-password">Password</label>
          <input type="password" class="form-control" ng-model="userInfo.password" id="sign-up-password" placeholder="Password" required="true">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary pull-right" ng-click="register(userInfo)" fa-icon="lock" icon-before>Register</button>
        </div>
      </form>
    </div>
  </div>
  <div bs-spinner="registering" size="large" spinner-text="Signing Up..." text-position="top" class="margin-top-xxlarge"></div>
</div>
