profilePictureSize = 160px
.user-profile-picture-upload
  width profilePictureSize
  height profilePictureSize
  position relative
  img
    width profilePictureSize
    height profilePictureSize
  .change-photo
    text-align center
    cursor pointer
    position absolute
    font-size 2.2em
    top 50%
    left 50%
    margin-top -38px
    margin-left -38px
    color #FFF
    background-color rgba(0, 0, 0, 0.5)
    padding 16px
    border-radius 50%
    width 76px
    height 76px
    transition opacity 0.4s 0.1s
    i
      padding-top 8px