profilePictureSize = 160px
.user-profile-picture-upload
  width profilePictureSize
  height profilePictureSize
  img
    width profilePictureSize
    height profilePictureSize
  .change-photo
    cursor pointer
    position absolute
    font-size 2.2em
    top 50%
    left 50%
    margin-top -38px
    margin-left -38px
    color #FFF
    background-color rgba(0, 0, 0, 0.5)
    padding 16px
    border-radius 50%
    width 76px
    height 76px
    opacity 0
    transition opacity 0.2s linear
    &.visible
      opacity 1
    i
      padding-top 8px

  .bs-new-photo-wrapper
    position absolute
    border-radius 50%
    top 0
    left 50%
    z-index -1
    opacity 0
    height 100%