<div class="comment position-relative font-size-small" ng-mouseenter="showDelete=true" ng-mouseleave="showDelete=false">
  <a ng-href="/{{author.username}}">
    <img ng-src="{{author.getProfilePicture()}}" class="comment-photo img-circle display-inline position-absolute">
  </a>
  <div class="comment-info display-inline-block vertical-align-top">
    <div>
      <a ng-href="/{{author.username}}">
        <strong class="comment-user">{{author.getDisplayName()}}</strong>
      </a>
      -
      <small bindonce="comment" bo-text="comment.modified | date:'short'"></small>
      <i ng-show="showDelete && canDelete()" class="fa fa-trash-o color-red cursor-pointer" ng-click="deleteComment()"></i>
    </div>
    <div bindonce="comment" class="comment-content" bo-text="comment.content"></div>
  </div>
</div>