<div class="new-post-form clearfix center-block">
  <bs-profile-picture user="user" class="position-absolute" size="80" hide-hover="true"></bs-profile-picture>
  <div class="new-post-form-wrapper">
    <form name="postForm" role="form" ng-submit="makePost()">
      <div class="form-group">
        <label class="sr-only" for="post-content-field">{{randomPlaceholder || 'What\'s up?'}}</label>
        <textarea bs-new-post-textarea buckets="buckets" ng-model="content.textString" name="newPostContent" class="form-control" id="post-content-field" placeholder="{{randomPlaceholder || 'What\'s up?'}}" bs-autofocus="true"></textarea>
      </div>
      <button type="submit" class="btn btn-primary pull-right">Post</button>
    </form>
    <div class="bs-bucket-chooser-wrapper">
      <bs-bucket-chooser buckets="buckets"></bs-bucket-chooser>
    </div>
  </div>
</div>