<div class="post panel panel-default" bindonce="post">
  <div class="post-meta panel-heading position-relative">
    <a ng-href="/{{post.getAuthor().username}}">
      <img ng-src="{{post.getAuthor().getProfilePicture()}}" class="post-author-photo padding-xxsmall img-circle position-absolute">
    </a>
    <div class="post-info display-inline-block padding-xxsmall vertical-align-top">
      <div>
        <a ng-href="/{{post.getAuthor().username}}">
          <strong class="post-user font-size-xlarge">{{post.getAuthor().getDisplayName()}}</strong>
        </a>
      </div>
      <div>
        <small>
          <a ng-href="/{{post.getAuthor().username}}/{{post.id}}" bo-text="post.modified | date:'short'"></a>
        </small>
      </div>
    </div>
  </div>
  <div class="post-content panel-body font-size-large">
    <div bo-text="post.content[post.content.length - 1].textContent"></div>
  </div>
  <div class="panel-footer">
    <div class="pull-right share-post">
      <a class="padding-xsmall cursor-pointer" ng-click="share(post)" fa-icon="share"></a>
      <a class="padding-xsmall cursor-pointer" ng-click="star(post)" fa-icon="star"></a>
    </div>
  </div>
  <div class="comments">
    <div class="add-comment position-relative">
      <a bo-href="'/' + currentUser.username">
        <img bo-src="currentUser.getProfilePicture()" class="add-comment-photo img-circle display-inline position-absolute">
      </a>
      <div class="add-comment-field display-inline-block">
        <input class="form-control" type="text" placeholder="Add comment..." ng-model="commentToAdd" ng-keydown="addComment($event)">
      </div>
    </div>
    <div class="comment position-relative font-size-small" ng-repeat="comment in post.comments" ng-mouseenter="showOrHideComment(comment)" ng-mouseleave="comment.showDelete=false">
      <a ng-href="/{{comment.getAuthor().username}}">
        <img ng-src="{{comment.getAuthor().getProfilePicture()}}" class="comment-photo img-circle display-inline position-absolute">
      </a>
      <div class="comment-info display-inline-block vertical-align-top">
        <div>
          <a ng-href="/{{comment.getAuthor().username}}">
            <strong class="comment-user">{{comment.getAuthor().getDisplayName()}}</strong>
          </a>
          -
          <small bo-text="post.modified | date:'short'"></small>
          <i ng-show="comment.showDelete" class="fa fa-trash-o color-red cursor-pointer" ng-click="deleteComment(comment)"></i>
        </div>
        <div class="comment-content" bo-text="comment.content"></div>
      </div>
    </div>
  </div>
</div>
