.bucket-rules
  for provider in facebook twitter google
    .button-{provider}:hover
      @extend .color-{provider}
    .button-{provider}
      color white
      @extend .background-color-{provider}
    .provider-heading-{provider}
      @extend .color-{provider}

  .provider-accordion-group
    .provider-heading
      font-size 1.6em
    .provider-button
      font-size 2.2em
      cursor pointer
      &:hover
        background-color #FFF
        border-color #CCC